*~
*.bin
*.pyc
config.py
!.config/qutebrowser/config.py

.authinfo*
.*_history

ARCHBOOK/
Downloads/
News/

bin/
local/
workspace/

.Xauthority
.asoundrc*
.bash_history
.bashrc-local
.cache/
.config/**/QtProject.conf
.config/Unknown Organization/
.config/GIMP/
.config/Google/
.config/Meltytech/
.config/SASM Project/
.config/Whatsie/
.config/git/
.config/bless/
.config/calibre/
.config/codeblocks/
.config/darktable/
.config/dconf/
.config/deluge/
.config/enchant/
.config/evince/
.config/gconf/
.config/gh/
.config/inkscape/
.config/kritadisplayrc
.config/kritarc
.config/libreoffice/
.config/htop/
.config/qutebrowser/bookmarks/
.config/qutebrowser/quickmarks
.config/pulse/
.config/simple-scan/
.config/teamviewer/
.config/zoomus.conf
.cups/
.gnupg/
!.gnupg/gpg-agent.conf
.config/qutebrowser/solarized-everything-css/
.electrum/
.emacs.d/.emacs.desktop*
.emacs.d/.last-package-update-day
.emacs.d/bookmarks
.emacs.d/elpa/
.emacs.d/eshell/
.emacs.d/lisp/gnus-init/
.emacs.d/network-security.data
.emacs.d/projectile-bookmarks.eld
.emacs.d/projectile.cache
.emacs.d/tramp
.emacs.d/transient/


.lesshst
.local/
.mozilla/
.persistent_history
.pki/
.repo/
.repo_.gitconfig.json
.repoconfig/
.terminfo/
.texlive/
.vim/.netrwhist
.vim/bundle/
.viminfo
.vpn/
.wget-hsts
.z
