[user]
	name = Vladislav Ivanishin
	email = vladislav.ivanishin@gmail.com
[color]
	ui = auto
[alias]
	co = checkout
	graph = "log --branches=* --graph --oneline --decorate --date-order"

[core]
	excludesfile = /home/vlad/.gitignore-global
[diff]
	algorithm = patience
[pull]
	rebase = interactive
