*~
*.bin
*.pyc
config.py
!.config/qutebrowser/config.py

.authinfo*
.*_history

ARCHBOOK/
Downloads/
News/

bin/
local/
workspace/

.Xauthority
.bash_history
.bashrc-local
.cache/
.config/**/QtProject.conf
.config/dconf/
.config/gh/
.config/htop/
.config/qutebrowser/bookmarks/
.config/qutebrowser/quickmarks
.config/pulse/
.emacs.d/.last-package-update-day
.gnupg/
.config/qutebrowser/solarized-everything-css/
.emacs.d/.emacs.desktop*
.emacs.d/bookmarks
.emacs.d/elpa/
.emacs.d/eshell/
.emacs.d/lisp/gnus-init/
.emacs.d/network-security.data
.emacs.d/projectile-bookmarks.eld
.emacs.d/projectile.cache
.emacs.d/tramp
.emacs.d/transient/
.lesshst
.local/
.mozilla/
.persistent_history
.pki/
.repo/
.repo_.gitconfig.json
.repoconfig/
.terminfo/
.texlive/
.vim/.netrwhist
.vim/bundle/
.viminfo
.vpn/
.wget-hsts
.z
